.transactionHistory {
  width: 875px;
  margin: 0 auto 50px;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}
.tableHead tr {
  color: #ffffff;
  background-color: #00bcd4;
}
.tableHead th {
  padding: 15px;
  text-transform: uppercase;
}
.tableBody {
  color: #5c6975;
  background-color: #ffffff;
}
.tableBody td {
  padding: 15px;
}

.tableBody tr:nth-child(even) {
  background-color: #ecf2f3;
}
